* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  overflow: hidden;
}

.app {
  /* display: flex;
  flex-flow: column; */
  background: brown;
  /* width: 100vw;
  height: 100vh; */
}

.lists {
  display: block;
  flex: 1;
  width: 100%;
  background: rebeccapurple;
  /* overflow-x: scroll; */
}

.lists .list {
  display: flex;
  flex-flow: row;
  flex: 6;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  /* min-width: 250px; */
  /* max-width: 350px; */
  min-height: 100px;

  background-color: rgba(0, 0, 0, 0.1);
  /* margin: 0 15px; */
  padding: 8px;
  transition: all 0.2s linear;
}

.lists .list .list-item {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 15px 20px;

  text-align: center;
  margin: 4px;
}

.seperator-wrapper {
  width: 100%;
}

.seperator-wrapper .seperator {
  width: 3000px;
  height: 5px;
  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}

.gradient {
  background: linear-gradient(to right, #FE8C00 0%, #FE8C00 25%, #039 50%, #039 75%, #FE8C00 100%); /* W3C */
}
